<section class="hero is-fullheight has-text-centered " id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p class="about-paragraph">{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/my-timeline"
                                class="button is-uppercase has-text-weight-normal is-black is-outlined">My Story</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                      
                    </div>
                </div>
            </div>
            <hr>

            <h3 class="is-size-5 is-uppercase has-text-weight-medium has-text-black is-marginless">
                technologies i use:
            </h3>
            <div class="column is-full is-size-3">
                <i class="fab fa-react"></i>
                <i class="fab fa-node"></i>
                <i class="fab fa-npm"></i>
                <i class="fab fa-git-alt"></i>
                <i class="fab fa-sass"></i>
                <i class="fab fa-css3-alt"></i>
                <i class="fab fa-js-square"></i>
            </div>
        </div>
</section>