<div class="columns has-text-centered" id="blog-card">
    <a href="{{post.url | absolute_url}}">
        <div class="column has-text-left-desktop has-text-left-tablet">
            <h1 class="title is-size-4-touch">{{post.title}}</h1>
            <p class="content is-size-4-touch">{{post.description}}</p>
            <div class="content has-text-grey">
                <hr class="has-background-grey"> 
                <span class="post-category is-uppercase">{{ post.category  }}</span> 
                <span class="has-text-weight-semibold has-text-left-mobile">{{ post.date | date: "%m:%d:%Y" }}
                </span> 
            </div>
            
        </div>
    </a>
</div>