---
---

@import "main.scss";
@import "variables.scss";

#navbar {
    opacity: 0.95;
    border-bottom: 0.13rem solid  $color-decoration;
}

.is-active {
    font-weight: 600;
}

.button {
    border: 0.13rem solid  $color-decoration !important;
    color: darken($color-main-background, 85%) !important;
    transition: all 0.25s ease;
    font-weight: bolder !important;
    transform: scale(0.85);
}
.button:hover {
    background-color:  darken($color-main-background, 5%) !important;
    transform: scale(0.875);
    
}

.navbar-dropdown {
    border: 0.13rem solid  $color-decoration;
    right: 0;
    left: auto;
}
.navbar-item {
    color: #7a7a7a;
}

a.navbar-item:hover,
.navbar-link:hover {
    background-color: $color-hover !important;
    color: $color-decoration !important;
}

a.navbar-item.is-active {
    background-color: $color-hover !important;
    color: $color-decoration !important;

    &:hover {
        background-color: $color-hover !important;
        color: $color-decoration;
    }
}

.navbar-link:not(.is-arrowless)::after {
    border-color: $color-hover;
}


#hero {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

    &::before {
        filter: blur(0.10rem);
        background-image: url({{site.heroimage}});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        opacity: 0.25;
        content: "";
    }
}
.container {
   
    .subtitle {
        letter-spacing: 0.25rem;
        color: transparent;
        // width: 0;
        // visibility: ;
        // border-right: 1px solid white;
        overflow: hidden;
        animation: typewriter 4.5s 4.5s steps(45, end) forwards;
        // animation: blink 1s step-end 8 backwards,typewriter 4.5s 4.5s steps(45, end) forwards,blink 1s step-end 7,remove-blink 0s 7.5s step-end forwards;
    }
    
    .hero-line {
        animation: blink 3s step-end 3 ;
    }

    //animations
    @keyframes typewriter {
        // 0% {
        //     width: 0;
        //     border-right: 1px solid white;
        // }
        // 100% {
        //     width: 100%;
        //     border-right: 1px solid white;
        // }
        0% {
            color: transparent;
        }
        50% {
           color: lighten($color-decoration, 10%);
        }
        100% {
            color:lighten($color-decoration, 15%);  
        }
    }
    @keyframes blink {
        // 0%,100% {
        //     border-color: transparent;
        // }
        // 50% {
        //     border-color: white;
        // }

        0% {
            width: 0%;
        }
        30% {
            width: 30%;
        }
        70% {
            width: 60%;
        }
        100% {
            width: 100%;   
        }
       
    }
    // @keyframes remove-blink {
    //     to {
    //         border-color: transparent;
    //     }

    // }
    

}


#about {
    
    .image {
        max-width: 20vmax;
        margin: auto;

        img {
            border: 0.13rem solid  $color-decoration;
        }
    }
    .about-paragraph {
        color: darken($color-main-background, 75%);
       
    }

    a {
        min-width: 25vmax;
        margin: 0.5rem;
    }

    hr {
        background-color: black;
    }
}

#contact {
    #contact-button {
        margin: 0.5rem auto;
        display: flex;
        justify-content: center;
    }

    svg {
        transition: all 0.15s ease-in-out;
        margin: auto 0.75vmax;

        &:hover {
            transform: scale(1.10);
            filter: opacity(0.75);
        }
    }

    hr {
        background-color: black;
    }
}

#blog {
    .hero-body {
        padding: 3rem 0.25rem 1rem 0.25rem;
    }

    .container {
        margin: 1.5rem auto;
    }

    #blog-card {
        transition: all 0.25s ease;
        margin-bottom: 0.5vmax;
        transform: scale(0.85);
        margin-right: 4.5vmax;
        margin-left: 4.5vmax;
        line-height: normal;
        border-radius: 0.25rem;
        background: lighten($color-main-background, 6%);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(0.875);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.29);
        }

        @media (max-width: 768px) {
            transform: scale(1);
            margin-bottom: 5vmax !important;

            &:hover {
                transform: scale(1.025);
                margin-bottom: 5vmax !important;
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            }
        }

        .title {
            margin: 0.5rem !important;
            color: darken($color-main-background, 80%) !important;
        }

        .content {
            margin: 0.5rem;
            color: darken($color-main-background, 60%) !important;
        
        &:hover {
            color: darken($color-main-background, 70%) !important ;
        }
    }

        .column {
            display: grid;
        }
    }
    .post-category {
        background: $color-decoration;
        color: darken($color-main-background, 85%);
        font-weight: bolder;
        padding: .5em;
        // margin-left: 4em;

    }
}

#search {
    border-bottom: 0.15rem solid;

    input {
        border: none;
        outline: none;
        font-weight: 500 !important;

        &::placeholder {
            font-weight: 500;
            color: darken($color-main-background, 60%);
            letter-spacing: 0.25rem;
        }
    }

    .button {
        transition: all 0.25s ease;
        &:focus {
            outline: 0.15rem solid $color-decoration !important;
        }

        border:  none;
    }
}


#footer {
    #backtotop {
        transition: all 0.25s ease;
        width: 10rem;
        padding: 0.25rem;
        margin: auto auto 1rem auto;

        &:hover {
            transform: scale(1.05);
        }
    }

    .container {
        margin: auto;
        padding: 1.5rem;
        line-height: 1.25;

        .column {
            display: grid;
            justify-content: center;

            li {
                list-style: circle;
                list-style-position: outside;
            }

            a {
                color: #7a7a7a;

                &:hover {
                    color: white;
                }
            }
        }
    }

    #credits {
        padding: 0.75rem;
        font-size: 0.85rem;

        a {
            text-decoration: underline;
            font-weight: bolder;
            color: $color-decoration;
        }
    }
}

#project {
    .columns {
        .column {
            border-radius: 0.5rem;
            .image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    #project-card {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transform: scale(0.95);
        transition: all 0.5s ease;
        margin-bottom: 0.5rem !important;
        display: inline-table;
        &:hover {
            transform: scale(0.975);
        }
    }
    .card {
        transition: all 0.25s ease;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.90)!important;
        }
    }
}

#post {
    @media (min-width: 768px) {
        margin: auto 2.5vmax;
    }
    a {
        text-decoration: underline;
    }
    #title {
        text-decoration: none;
    }
    .title {
        margin: auto;
    }
    #post-image {
        border-radius: 0.25rem;
    }
    .subtitle {
        letter-spacing: 0.05rem;
    }

    #description {
        margin-bottom: 1.25vmax;
    }

    .tag {
        margin: 0.15rem auto;
    }
    .content {
        ol, ul, blockquote {
            display: inline-block;
        }
        hr{
            background-color: $color-hover;
        }
        img, iframe {
            max-width: calc(100% - 25vw);
            margin: 0.25rem auto;
            @media (max-width: 768px) {
                max-width: calc(100% - 5vw);
            }
        }
        ul, ol {
            display: inline-block;
        }
    }

    .container {
        margin: 2.5rem auto;
        word-break: break-word;
        max-width: -webkit-fill-available;
    }

    #disqus_thread {
        margin-top: 5vmax;
    }
}

#page-section {
    .content {
        ul, ol, blockquote {
            display: inline-block;
        }
    }
}