---
---

@import "main.scss";
@import "variables.scss";
@import "mixins.scss";


#navbar {
    opacity: 0.95;
    background: darken($color-main-background, 80%) !important;
    border-bottom: 0.15rem solid  $color-decoration;
}

.is-active {
    font-weight: 600;
}

.navbar-dropdown {
    background: darken($color-main-background, 80%) !important;
    border: 0.13rem solid  $color-decoration;
    right: 0;
    left: auto;
}
.navbar-item {
    color: darken($color-main-background, 20%) !important;
    font-weight: 800;
}
.navbar-link {
    color: darken($color-main-background, 20%) !important;
    font-weight: 800; 
}

a.navbar-item:hover,
.navbar-link:hover {
    background-color: darken($color-main-background, 30%) !important;
    color: $color-decoration !important;
}

a.navbar-item.is-active {
    background-color: darken($color-main-background, 30%) !important;
    color: $color-decoration !important;

    &:hover {
        background-color: darken($color-main-background, 30%) !important;
        color: $color-decoration;
    }
}

.navbar-link:not(.is-arrowless)::after {
    border-color: $color-decoration;
}

.button {
    @include mybutton;
}


#hero {
    background: rgba(206, 142, 70, 0.712);
    @include hero-background;
    

    &::before {
        // filter: blur(0.10rem);
        background-image: url({{site.heroimage}});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        opacity: 0.25;
        content: "";
    }
}
.container {
   
    .subtitle {
        letter-spacing: 0.25rem;
        color: transparent;
        overflow: hidden;
        animation: fade-in 4.5s 4.5s steps(45, end) forwards;
    }
    .hero-line {
        animation: blink 3s step-end 3 ;
    }
    .hero-button {
        @include mybutton;
      
    }

    //animations
    @keyframes fade-in {
        0% {
            color: transparent;
        }
        50% {
           color: lighten($color-decoration, 10%);
        }
        100% {
            color:lighten($color-decoration, 15%);  
        }
    }
    @keyframes blink {

        0% {
            width: 0%;
        }
        30% {
            width: 30%;
        }
        70% {
            width: 60%;
        }
        100% {
            width: 100%;   
        }
       
    }
    
}

//recent articles

.recent-articles {
    color: $color-decoration;
    margin: 2em;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

//about section

#about {
    
    background: darken($color-main-background, 10%);

    .image {
        max-width: 20vmax;
        margin: auto;

        img {
            border: 0.13rem solid  $color-decoration;
        }
    }
    .about-paragraph {
        color: darken($color-main-background, 80%);
       }

    a {
        min-width: 25vmax;
        margin: 0.5rem;
    }

    hr {
        background-color: black;
    }
}

#contact {
    #contact-button {
        @include mybutton;
        margin: 0.5rem auto;
        display: flex;
        justify-content: center;
    }

    svg {
        transition: all 0.15s ease-in-out;
        margin: auto 0.75vmax;

        &:hover {
            transform: scale(1.10);
            filter: opacity(0.75);
        }
    }

    hr {
        background-color: black;
    }
}

//blog section

#blog {
    .hero-body {
        padding: 3rem 0.25rem 1rem 0.25rem;
    }

    .container {
        margin: 1.5rem auto;
    }

    #blog-card {
        margin-bottom: 0.5vmax;
        margin-right: 4.5vmax;
        margin-left: 4.5vmax;
        @include card;

        @media (max-width: 768px) {
            transform: scale(1);
            margin-bottom: 5vmax !important;

            &:hover {
                transform: scale(1.025);
                margin-bottom: 5vmax !important;
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            }
        }

        .title {
            margin: 0.5rem !important;
            color: darken($color-main-background, 80%) !important;
        }

        .content {
            margin: 0.5rem;
            color: darken($color-main-background, 65%) !important;
        
        &:hover {
            color: darken($color-main-background, 70%) !important ;
        }
    }

        .column {
            display: grid;
        }
    }
    .post-category {
        background: $color-decoration;
        color: darken($color-main-background, 85%);
        font-weight: bolder;
        padding: .5em;
    }
}

#search {
    border-bottom: 0.15rem solid $color-decoration;

    input {
        border: none;
        outline: none;
        font-weight: 500 !important;

        &::placeholder {
            font-weight: 500;
            color: darken($color-main-background, 60%);
            letter-spacing: 0.25rem;
        }
    }

    .button {
        transition: $transition-main;
        &:focus {
            outline: 0.15rem solid $color-decoration !important;
        }

        border: none;
    }
}


//footer section

#footer {
    #backtotop {
        transition: $transition-main;
        width: 10rem;
        padding: 0.25rem;
        margin: auto auto 1rem auto;

        &:hover {
            transform: scale(1.05);
        }
    }
    .footer-main-section {
        background: darken($color-main-background, 80%);
    }

    .container {
        margin: auto;
        padding: 1.5rem;
        line-height: 1.25;

        .column {
            display: grid;
            justify-content: center;

            li {
                list-style: circle;
                list-style-position: outside;
            }

            a {
                color: darken($color-main-background, 20) !important;

                &:hover {
                    color: $color-decoration !important;
                }
            }
        }
    }

    #credits {
        padding: 0.75rem;
        font-size: 0.85rem;

        a {
            text-decoration: underline;
            font-weight: bolder;
            color: $color-decoration;
        }
    }
}

#project {
    .columns {
        .column {
            border-radius: $border-radius-main;
            .image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    #project-card {
        margin-bottom: 0.5rem !important;
        display: inline-table;   
    }
    .card {
        @include card;    
    }
}

#post {
    @media (min-width: 768px) {
        margin: auto 2.5vmax;
    }
    a {
        text-decoration: underline;
    }
    #title {
        text-decoration: none;
    }
    .title {
        margin: auto;
    }
    #post-image {
        border-radius: $border-radius-main;
    }
    .subtitle {
        letter-spacing: 0.05rem;
    }

    #description {
        margin-bottom: 1.25vmax;
    }

    .tag {
        margin: 0.15rem auto;
    }
    .content {
        ol, ul, blockquote {
            display: inline-block;
        }
        hr{
            background-color: $color-decoration;
        }
        img, iframe {
            max-width: calc(100% - 25vw);
            margin: 0.25rem auto;
            @media (max-width: 768px) {
                max-width: calc(100% - 5vw);
            }
        }
        ul, ol {
            display: inline-block;
        }
    }

    .container {
        margin: 2.5rem auto;
        word-break: break-word;
        max-width: -webkit-fill-available;
    }

    #disqus_thread {
        margin-top: 5vmax;
    }
}

#page-section {
    .content {
        ul, ol, blockquote {
            display: inline-block;
        }
    }
}

//waterwave animation

#background-animate {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

    .waterWave {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000;
    }

    .wave {
        width: 15px;
        height: 100px;
        background: linear-gradient(45deg, cyan, #fff);
        margin: 10px;
        animation: wave 1s linear infinite;
        border-radius: 20px;
      }
      .wave:nth-child(2) {
        animation-delay: 0.1s;
      }
      .wave:nth-child(3) {
        animation-delay: 0.2s;
      }
      .wave:nth-child(4) {
        animation-delay: 0.3s;
      }
      .wave:nth-child(5) {
        animation-delay: 0.4s;
      }
      .wave:nth-child(6) {
        animation-delay: 0.5s;
      }
      .wave:nth-child(7) {
        animation-delay: 0.6s;
      }
      .wave:nth-child(8) {
        animation-delay: 0.7s;
      }
      .wave:nth-child(9) {
        animation-delay: 0.8s;
      }
      .wave:nth-child(10) {
        animation-delay: 0.9s;
      }
}

@keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}

